div#playBar
 div.songInfo
  div.albumImage
   img(src="/img/dummy/album-cover.jpg")
  div.textBox
   div.songTitle 
   div.artistName 
 div.controls
  span.fa.fa-step-backward
  span#playPause.fa.fa-play
  span.fa.fa-step-forward
 div#seekbar.seekbar
  div.bar
 div#muteButton.fa.fa-volume-up
 div#volumeBar.volumebar
  div.inner
 div#volumeBarIndicator.vbarIndicator
 div#time.time 
script(type="text/javascript" src="/js/main.js")