h1 YouTube
div.youtube
 div.section
  div.yt-searchbar
   input.searchbar(type="text" placeholder="Search")
script(type="text/javascript" src="/plugins/youtube/main.js")
link(rel="stylesheet" type="text/css" href="/plugins/youtube/stylesheet.css")
|<script type="text/javascript">console.log('it works')</script>