head
 link(rel="stylesheet" type="text/css" href="/css/font-awesome.min.css")
 link(rel="stylesheet" type="text/css" href="/css/main.css")
 script(type="text/javascript" src="/socket.io/socket.io.js")
 title Sonos Web