div#menu
 div.hero
  div.overlay
  div.image.hero-music
  div.info-box
   label Selected room:
   label.room Camera da letto
 div.menu-elements
  div.entry(data-page="home")
   span.icon.fa.fa-home
   label Home
  div.entry(data-page="queue")
   span.icon.fa.fa-list
   label Queue
  div.entry(data-page="party")
   span.icon.fa.fa-music
   label Party
  div.entry(data-page="settings")
   span.icon.fa.fa-gear
   label Settings