#menu
 .hero
  .overlay
  #hero-menu-image.image.hero-music
  .info-box
   label Selected room:
   label#roomName.room
 .menu-elements
   each item in menu
    .entry(data-page=#{item[2]})
     span(class="icon fa #{item[0]}")
     label #{item[1]}