div.party
 div.background
  div.image#partyBackgroundImage
  div.color-overlay
 div.bigDiscView
  img#partyAlbumArt(src="https://i1.sndcdn.com/artworks-000139618215-ubm1i6-t500x500.jpg")
  div.title#partySongTitle Track Title
  div.artist#partySongArtist Artist Name
script(type="text/javascript" src="/plugins/party/main.js")
link(rel="stylesheet" type="text/css" href="/plugins/party/style.css")