h1 Queue
button#flushQueue.action Flush Queue
button#playQueue.action Play Queue
div.queue
  for i in queue.items
    div.queue-el
      -let img = (i.albumArtURL.indexOf('/') === 0 ? `/sonos${i.albumArtURL}` : i.albumArtURL)
      -let css = 'background-image:url(\''+img+'\')'
      div.image(style=css)
      div.title-artist
        p.title #{i.title}
        p.artist #{i.artist}
