h1 UI Debug
div.ui-debug
 div.select-room
  select
   each room in ['music', 'bedroom', 'bathroom', 'dining room', 'hall', 'hallway', 'kitchen', 'living room', 'media room', 'patio', 'playroom', 'pool', 'tv room']
    option(value=room) #{room}
div.button 