h1 UI Debug
div.ui-debug
 div.select-room
  select
   -var rooms = ['music', 'bedroom', 'bathroom', 'dining room', 'hall', 'hallway', 'kitchen', 'living room', 'media room', 'patio', 'playroom', 'pool', 'tv room'];
   -for(var i in rooms){
   -if(rooms.hasOwnProperty(i)){
    option(value=`${rooms[i]}`) #{rooms[i]}
    -}}
div.button 