h1 Plex
div.plex
 div.section
  div.loading
   div.loading-text Loading, please wait...
  script(type="text/javascript" src="/plugins/plex/main.js")
link(rel="stylesheet" type="text/css" href="/plugins/plex/stylesheet.css")
